<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 등록</h2>
    </div>
    <div class="mt-5">
      <el-form
          style="max-width: 600px"
          :model="noticeForm"
          label-width="auto"
          class="demo-ruleForm"
      >
        <div class="text-[13px] text-[#5e5e5e] font-bold mb-1">제목</div>
        <el-form-item prop="title">
          <el-input
              v-model="noticeForm.title"
              style="width: 100%"
              maxlength="50"
              placeholder="제목을 입력해주세요"
              show-word-limit
              type="text"
          />
          <div style="margin: 20px 0"/>
        </el-form-item>
        <div class="text-[13px] text-[#5e5e5e] font-bold mb-1">내용</div>
        <el-form-item prop="text">
          <el-input
              v-model="noticeForm.text"
              maxlength="500"
              style="width: 100%"
              rows="15"
              placeholder="내용을 입력해주세요"
              show-word-limit
              type="textarea"
          />
        </el-form-item>
        <el-form-item prop="img">
          <el-upload
              ref="img"
              style="width: 100%"
              class="upload-demo mt-3"
              :limit="1"
              multiple
          >
            <el-button type="primary">사진 첨부하기</el-button>
            <template #tip>
              <div class="el-upload__tip">
                jpg/png 이미지 파일을 500kb 미만으로 1장 등록가능합니다.
              </div>
            </template>
          </el-upload>
        </el-form-item>
        <div class="flex justify-center">
          <el-form-item>
            <el-button type="primary" @click="submitNotice"
            >등록
            </el-button
            >
            <el-button @click="pushReturnPage">취소</el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, reactive} from 'vue'
import type {UploadProps, UploadUserFile} from 'element-plus'
import {storeToRefs} from 'pinia'
import {useNoticeStore} from '~/stores/board'

definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const router = useRouter();
const id = ref('');

// 취소버튼 (공지 리스트 페이지)
const pushReturnPage = () => {
  router.push("/notice")
}


// 공지사항 form 그릇
const noticeForm = reactive({
  title: '',
  text: '',
})


// 스토어 생성
const boardStore = useNoticeStore();

const submitNotice = () => {
  const payload = {
    title: noticeForm.title,
    text: noticeForm.text,
  }
  console.log(payload)
  boardStore.setBoard(payload).then(() => {
      router.push("/notice")
  });
  console.log(noticeForm.title, noticeForm.text)
}


</script>
