<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">입출금 관리 내역</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">입출금 상세 내역</h2>
      </div>
    </div>
    <!--배달 상세 내역 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">입출금 상세 내역 No.{{money.id}}</p>
      </div>
      <div class="text-[14px]">
        <div class="w-full">
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">입출금일</div>
              <div class="flex justify-between" v-if="money">
                <div class="">{{ money.dateMoneyRenewal }}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">라이더 이름</div>
              <div class="flex justify-between">
                <div class="">{{ money.riderName }}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">업소주소</div>
              <div class="flex justify-between">
                <div class="">{{ money.moneyType }}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3] text-center">업소 전화번호</div>
              <div class="flex justify-between">
                <div class="">{{ money.moneyAmount }}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">도착지</div>
              <div class="flex justify-between">
                <div class="">{{ money.riderId }}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="flex leading-10">
            <div class="flex w-1/2">
              <div class="w-28 h-10 mr-2 text-[#5e5e5e] bg-[#f3f3f3]  text-center">주문자 번호</div>
              <div class="flex justify-between">
                <div class="">{{ money.etcMemo }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center mt-5">
    <!-- 검정버튼 -->
    <button class="transition delay-150 w-[100px] h-[40px] bg-[#1A1A1A] text-[14px] text-center text-[#FFFFFF] font-bold rounded hover:bg-[#3D3D3D] hover:drop-shadow-lg duration-300 " @click="pushReturnPage">
      확인
    </button>
  </div>
</template>

<script setup>
import {ref} from "vue";
import {storeToRefs} from "pinia";
import {useMoneyHistory} from "~/stores/moneyHistory";


// definePageMeta({
//   middleware: 'auth' // this should match the name of the file inside the middleware directory
// })
const moneyHistory = useMoneyHistory();
const{fetchNotice} = moneyHistory;
const {money} = storeToRefs(moneyHistory);
console.log(money)


await fetchNotice('${id}').then(() =>{
  console.log()
}).catch(() =>{
  console.log("실패")
});

const router = useRouter();
const id = ref('');

// 취소버튼 (공지 리스트 페이지)
const pushReturnPage = () => {
  router.back();
}


</script>
