<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between mb-4 gap-3">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">배달 전체 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">배달 전체 리스트</h2>
      </div>
      <div class="w-2/4"></div>
      <el-select v-model="value" placeholder="지역 선택" style="width: 150px" class="!h-[35px] w-1/4 mt-3 ml-32">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 내용을 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        :column="data.column"
        :data="deliverys"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'stateDelivery'">
            {{ data.stateDelivery }}
          </template>
          <template v-if="column.field === 'datePick'">
            {{ data.datePick }}
          </template>
          <template v-if="column.field === 'riderName'">
            {{ data.riderName }}
          </template>
          <template v-if="column.field === 'storeName'">
            {{ data.storeName }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary"
                        class="border-solid border-[#ededed] border h-[30px] mr-0.5 leading-4 py-1 text-[#1a1a1a] bg-white"
                        @click="detail(data.id)">
                상세보기
              </TwButton>
            </div>
          </template>
        </template>
      </TwDatatableClient>
    </div>
    <div class="example-pagination-block flex justify-center mt-4">
      <el-pagination layout="prev, pager, next"  :total=totalPage*10 @current-change="setPage"/>
    </div>
  </div>
</template>

<script setup lang="ts">
import {TwDatatableClient, TwButton} from "vue3-tailwind";
import {ref} from "vue";
import {Search} from "@element-plus/icons-vue";
import {storeToRefs} from "pinia";
import {useDeliveryStore} from "~/stores/delivery";


definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

const value = ref('')
const search = ref('')
const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
const store = useDeliveryStore();
const {fetchDelivery} = store;
// await fetchDelivery().then(() => {
//   console.log(data.value)
// }).catch(() => {
// });
const setPage = (pageNum: number) => {
  fetchDelivery(pageNum)
}

await fetchDelivery(1).then((res) => {
}).catch(() => {
})

const {deliverys, currentPage, totalCount, totalPage} = storeToRefs(store);
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "80px",
      sortable: true,
    },
    {
      label: "배달상태",
      field: "stateDelivery",
      width: "120px",
      sortable: true,
    },
    {
      label: "상태 변화 시간",
      field: "datePick",
      width: "180px",
      sortable: false,
    },
    {
      label: "라이더",
      field: "riderName",
      width: "100px",
      sortable: false,
    },
    {
      label: "주문업소",
      field: "storeName",
      width: "200px",
      sortable: false,
    },
    {
      label: "도착지",
      field: "addressClientDo",
      width: "250px",
      sortable: false,
    },
    {
      label: "Action",
      field: "action",
      width: "120px",
      sortable: false,
    },
  ],
});


const datatableHook = (arg: any) => {
  arg();
};

// 상세보기 연결
const router = useRouter();

const detail = (id: number) => {
  router.push(`/delivery1/detail/${id}`);
}

// const setNew = () => {
//   router.push(`/history/general`)
// }
</script>
