body::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: rgb(26 26 26 / 1);
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(26 26 26 / 1);
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(255 255 255 / 1);
}
