<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between mb-4 gap-3">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">라이더 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 리스트</h2>
      </div>
      <div class="w-1/4"></div>
      <el-select v-model="value" placeholder="지역 선택" style="width: 200px" class="!h-[35px] w-1/4 mt-3 ml-32">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 라이더를 입력해주세요."
                :suffix-icon="Search"
      />
    </div>
      <el-table :data="tableData" style="width: 100%" class="truncate" @row-click="getDetail">
        <el-table-column prop="id" label="No" width="50" />
        <el-table-column prop="name" label="라이더명" width="100" />
        <el-table-column prop="email" label="아이디" width="210" />
        <el-table-column prop="dateJoin" label="가입일" />
        <el-table-column prop="phoneNumber" label="휴대전화" />
        <el-table-column prop="driveType" label="배달수단" />
        <el-table-column prop="addressWish" label="배달지역" />
        <el-table-column prop="admin" label="권한" />
      </el-table>
    <div>
      <div class="example-pagination-block flex justify-center mt-4">
        <el-pagination layout="prev, pager, next"  :total=totalPage*10 @current-change="setPage"/>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
definePageMeta({
  middleware: 'auth' // this should match the name of the file inside the middleware directory
})

import {storeToRefs} from "pinia";
import {ref} from "vue";
import {useRiderStore} from "~/stores/rider";
import {Search} from "@element-plus/icons-vue";



const store = useRiderStore();
const {fetchRider} = store;
const {tableData, currentPage, totalCount, totalPage} = storeToRefs(store);

const value = ref('')
const search = ref('')

const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
//
// await fetchRider(1, 10).then(() => {
//   console.log("라이더 리스트")
// }).catch(() => {
//   console.log("실패")
// });

const router = useRouter();
// const getDetail = (data: any) => {
//   router.push(`/rider/detail/${data.id}`);
//   console.log(data.id);
// }


// 클릭 이벤트
// const detailRow = (index: number) => {
//   router.push(`/rider/detail/${index + 1}`);
//   // tableData.value.splice(index, 1)
//   console.log(index)
// }

const getDetail = (tableData) => {
  router.push(`/rider/detail/${tableData.id}`);
}


await fetchRider(1).then((res) => {
}).catch(() => {
});

const setPage = (pageNum: number) => {
  fetchRider(pageNum)
}
</script>
