<template>
  <div id="dark-mode" :class="cookieDark ? 'dark vt-dark' : ''">
    <TwToast position="bottom-right" :toasts="toasts" />
    <div>
      <LayoutFloating />
      <LayoutHeader />
      <div class="">
<!--        <div-->
<!--          class="flex min-h-screen text-[#212121] dark:text-gray-200 bg-opacity-40 bg-gray-100 shadow-lg"-->
<!--        >-->
                <div
                  class="flex min-h-screen text-[#212121] dark:text-gray-200 bg-[#1a1a1a] shadow-lg"
                >
          <LayoutSidebar class="h-full" />
          <div
            class="w-full md:w-[calc(100%-8rem)] lg:w-[calc(100%-16rem)] "
          >
            <div class="p-4 bg-white dark:bg-gray-900 h-full">
              <slot />
            </div>
          </div>
        </div>
<!--        <li v-if="!authenticated" class="loginBtn" style="float: right">-->
<!--          <nuxt-link to="/login">Login</nuxt-link>-->
<!--        </li>-->
<!--        <li v-if="authenticated" class="loginBtn" style="float: right">-->
<!--          <nuxt-link @click="logout">Logout</nuxt-link>-->
<!--        </li>-->
<!--        <div class="px-6 md:px-11">-->
<!--          <div-->
<!--            class="w-full bg-gray-900 shadow-xl bg-opacity-60 rounded-b-2xl h-4"-->
<!--          ></div>-->
<!--        </div>-->
      </div>
<!--      <div-->
<!--        class="text-center flex items-center gap-1 justify-center text-gray-200"-->
<!--      >-->
<!--        Developed with-->
<!--        <TwFeather class="text-red-500" type="heart" /> By-->
<!--        <a-->
<!--          class="text-blue-300"-->
<!--          href="https://github.com/WailanTirajoh"-->
<!--          target="_blank"-->
<!--        >-->
<!--          Wailan-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</template>

<script setup lang="ts">
import { useToast, TwFeather, TwToast } from "vue3-tailwind";
import {storeToRefs} from "pinia";
import {useAuthStore} from "~/stores/auth";

const router = useRouter();

const {logUserOut} = useAuthStore();
const{authenticated} = storeToRefs(useAuthStore());

const { toasts } = useToast();
const cookieDark = useCookie('dark-mode')

const logout = () => {
  logUserOut();
  router.push('/login');
};

</script>
